<ion-content class="ion-padding no-padding-top">
  <div *transloco="let t">
    <div class="menu">
      <ion-segment (ionChange)="segmentChanged($event)" [value]="segments.CARD">
        <ion-segment-button [value]="segments.CATEGORY">
          <ion-label>{{t('category')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="segments.CARD">
          <ion-label>{{t('card')}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <app-cards *ngIf="selectedSegment === segments.CARD"></app-cards>
    <app-categories *ngIf="selectedSegment === segments.CATEGORY"></app-categories>
  </div>
</ion-content>
