<ion-card class="ion-no-margin ion-margin-top">
  <ion-card-header>
    <h2>Adicionar <br> <strong class="subtitle__focus">cartões</strong></h2>
  </ion-card-header>

  <form [formGroup]="form">
    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label position="floating">Título</ion-label>
      <ion-input
        type="text"
        formControlName="name"
      ></ion-input>

      <app-form-errors-message
        *ngIf="form.get('name').errors && form.get('name').dirty"
        [customMessages]="customValidationErrors.name"
        [formError]="form.get('name').errors"
       >
      </app-form-errors-message>
    </ion-item>

    <ion-item class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea
        formControlName="content"
      ></ion-textarea>

      <app-form-errors-message
        *ngIf="form.get('content').errors && form.get('content').dirty"
        [customMessages]="customValidationErrors.content"
        [formError]="form.get('content').errors"
       >
      </app-form-errors-message>
    </ion-item>

    <ion-button
      expand="block"
      color="seafoam">
      Criar
    </ion-button>
  </form>

</ion-card>
