<ion-header>
  <ion-card>
    <ion-toolbar *transloco="let t">
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="seafoam" (click)="toActivityEdition()">
          <ion-icon slot="icon-only" [name]="inEdition ? 'chevron-back-circle-outline': 'add-circle-outline'"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{t('tab2')}}</ion-title>
    </ion-toolbar>
  </ion-card>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>
