<ion-content class="ion-padding" scrollY="false" *transloco="let t">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <h1 class="title">
        {{t('tab1')}}
      </h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="ion-no-margin card-content">
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" class="ion-no-padding language-segment">
          <span class="mr-10">{{t('lang')}}</span>
          <ion-segment (ionChange)="languageChanged($event)" value="en">
            <ion-segment-button value="en">
              <ion-label>EN</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pt-BR">
              <ion-label>PT-BR</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
