<ion-content class="ion-padding" scrollY="false">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <h1 class="title">Configuração</h1>
    </ion-card-header>
  </ion-card>

  <div class="menu">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segments.CARD">
      <ion-segment-button [value]="segments.PREFERENCES">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="segments.CARD">
        <ion-label>Cards</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <app-cards *ngIf="selectedSegment === segments.CARD"></app-cards>

</ion-content>
