.title {
  font-size: 1.5em;
  margin: 0;
}

.card-content {
  margin-top: 10px;
}

.language-segment {
  ion-segment {
    width: 150px;
    margin: auto;
    ion-segment-button {
      font-size: 12px;
      height: 30px;
    }
  }
}

.mr-10 {
  margin-right: 10px;
}
