<ion-content class="ion-padding">
  <h1>Settings</h1>

  <div class="menu">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segments.CARD">
      <ion-segment-button [value]="segments.CATEGORY">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="segments.CARD">
        <ion-label>Cards</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="view">
    <app-category *ngIf="selectedSegment === segments.CATEGORY"></app-category>
  </div>


</ion-content>
