.ion-color-spearmint {
    --ion-color-base: var(--ion-color-spearmint);
    --ion-color-base-rgb: var(--ion-color-spearmint-rgb);
    --ion-color-contrast: var(--ion-color-spearmint-contrast);
    --ion-color-contrast-rgb: var(--ion-color-spearmint-contrast-rgb);
    --ion-color-shade: var(--ion-color-spearmint-shade);
    --ion-color-tint: var(--ion-color-spearmint-tint);
}

.ion-color-seafoam {
    --ion-color-base: var(--ion-color-seafoam);
    --ion-color-base-rgb: var(--ion-color-seafoam-rgb);
    --ion-color-contrast: var(--ion-color-seafoam-contrast);
    --ion-color-contrast-rgb: var(--ion-color-seafoam-contrast-rgb);
    --ion-color-shade: var(--ion-color-seafoam-shade);
    --ion-color-tint: var(--ion-color-seafoam-tint);
}

.ion-color-kelly {
    --ion-color-base: var(--ion-color-kelly);
    --ion-color-base-rgb: var(--ion-color-kelly-rgb);
    --ion-color-contrast: var(--ion-color-kelly-contrast);
    --ion-color-contrast-rgb: var(--ion-color-kelly-contrast-rgb);
    --ion-color-shade: var(--ion-color-kelly-shade);
    --ion-color-tint: var(--ion-color-kelly-tint);
}

.ion-color-lime {
    --ion-color-base: var(--ion-color-lime);
    --ion-color-base-rgb: var(--ion-color-lime-rgb);
    --ion-color-contrast: var(--ion-color-lime-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lime-contrast-rgb);
    --ion-color-shade: var(--ion-color-lime-shade);
    --ion-color-tint: var(--ion-color-lime-tint);
}