ion-card-header {
  padding-bottom: 0;

  h2 {
    font-size: 1.3em;
    margin: 0px;

    .subtitle__focus {
      font-size: 1.5em;
    }
  }
}

ion-button {
  margin: 20px auto;
  max-width: 90%;
}
