ion-card-header {
  padding: 10px;

  ion-toolbar {
    --background: #FFF;

    h1 {
      font-size: 1.5em;
      margin: 0;
    }
  }
}

ion-icon {
  font-size: 1em;
}

.no-content {
  align-items: center;
  display: flex;
  justify-content: center;

  ion-img {
    height: auto;
    width: 170px;
  }
}
