<ion-card class="ion-no-margin ion-margin-top" *transloco="let t">
  <ion-card-header>
    <ion-toolbar>
      <ion-buttons slot="primary" *ngIf="!inEdition">
        <ion-button color="seafoam" (click)="onCreateCategory()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h1>{{t('category')}}</h1>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content *ngIf="!inEdition">
    <ion-list *ngIf="categories.length">
      <ion-item *ngFor="let category of categories" class="ion-no-padding" lines="none">
        <span>{{category.title}}</span>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon color="seafoam" name="pencil" slot="end"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="seafoam" name="trash" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="inEdition">
    <app-category-form></app-category-form>
  </ion-card-content>
</ion-card>
